<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

  <test name="Test1">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="PackTestNG.TestExecution">
      <methods>
          <include name="Verify_Launch()"/>
          <include name="Verify_login()"/>
      </methods>
      
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Test2">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="PackTestNG.TestExecution">
      <methods>
          <include name="Verify_Launch()"/>
          <include name="Verify_login()"/>
      </methods>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
